// Colors
$grey: #333333;
$light: #bbbbbb;
$blue: #4183C4;

// Navigation colors
$nav-background: $grey;
$nav-header-color: $light;
$nav-text-color: $blue;
$nav-text-color-hover: white;

// Clock
$clock-text-color: white;
$clock-bg-color: #b5d0e2;
$clock-border-color: #2099e8;

// Form
$form-border-color: $blue;
$form-button-color: $clock-bg-color;
$form-button-hover-color: $clock-border-color;
$form-text-color: white;
