.form-element {
    margin-bottom: 1rem;
}

.ui.input input:focus,
.ui.input.focus input {
    border-color: $form-border-color;
}

.ui.button.primary, .ui.button.primary:focus {
    background: $form-button-color;
    color: $form-text-color;
}

.ui.button.primary:hover {
    background: $form-button-hover-color;
    color: $form-text-color;
}
