.ui.menu {
    background-color: $nav-background;
    border-radius: 0;
    border: none;
    margin-top: 0;
}

.ui.menu .item {
    color: $nav-header-color;
}

.ui.menu .click.item {
    color: $nav-text-color;
}


.ui.menu .active.item {
    color: $nav-text-color;
    font-weight: bold;
    background: rgba(0,0,0,.5);
}

.ui.menu .click.item:hover {
    color: $nav-text-color;
    background: rgba(0,0,0,.2);
}
